@{
    ViewData["Title"] = "Syntax Medical";
}

<div class="card-title title-text welcome">
    <h1 class="display-4">Welcome to HGates Medical</h1>
    <img src="~/img/sm_home.png" class="hero_home" />
</div>
