@using Microsoft.AspNetCore.Identity
@using SyntaxMedical.web.Data
@inject SignInManager<HGatesEmployee> SignInManager
@inject UserManager<HGatesEmployee> UserManager


@if (SignInManager.IsSignedIn(User))
{
	<ul  class="nav flex-column mb-2">
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Intakes" asp-action="Index">
				Intakes
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Conditions" asp-action="Index">
				Conditions
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="EmergencyRelationships" asp-action="Index">
				Emergency Relationships
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Genders" asp-action="Index">
				Genders
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Parishes" asp-action="Index">
				Parishes
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Procedures" asp-action="Index">
				Procedures
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Rooms" asp-action="Index">
				Rooms
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Specializations" asp-action="Index">
				Specializations
			</a>
		</li>	
	</ul>
	
	
	
}
