<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SyntaxMedical.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SyntaxMedical.web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" asp-area="" asp-controller="Home" asp-action="Index">Syntax Medical</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<partial name="_LoginPartial_top" />
		</div>
		</div>
	</header>	
    <div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="position-sticky pt-3">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
						 <span data-feather="home"></span>
						Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Index">
						Patients
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Doctors" asp-action="Index">
						Doctors
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Nurses" asp-action="Index">
						Nurses
					</a>
				</li>
			</ul>
			<partial name="_AdminMenuPartial" />
			
			
			<partial name="_LoginPartial" />
			
		  </div>
		</nav>

		<main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			@RenderBody()
			 <footer class="border-top admin-footer ">
				<div class="container">
					&copy; @DateTime.Now.Year - Syntax Medical - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</div>
			</footer>	
		</main>
	</div>
  
  
   
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
